{% extends "base.html" %}

{% block content %}

<div style="max-width:400px;margin:auto;padding:60px 20px;">

    <h2 style="text-align:center;margin-bottom:25px;">
        🔐 Admin Login
    </h2>

    <form method="POST">

        <input type="password"
               name="password"
               placeholder="Enter Admin Password"
               required
               style="width:100%;
                      padding:12px;
                      margin-bottom:20px;
                      border:1px solid #ccc;
                      border-radius:6px;">

        <button type="submit"
                style="width:100%;
                       padding:12px;
                       background:black;
                       color:white;
                       border:none;
                       border-radius:6px;
                       cursor:pointer;">
            Login
        </button>

    </form>

</div>

{% endblock %}