{% extends "base.html" %}

{% block content %}

<section class="calculator-page">
    <div class="calculator-card">

        <h1>🧮 Online Calculators</h1>
        <p>தினசரி பயன்பாட்டிற்கான பயனுள்ள calculators</p>

        <div class="tools-grid">

            <a href="/age-calculator" class="tool-box">
                🎂 Age Calculator
            </a>

            <!-- <a href="/bmi-calculator" class="tool-box">
                ⚖️ BMI Calculator
            </a> -->

            <a href="/percentage-calculator" class="tool-box">
                📊 Percentage Calculator
            </a>

            <a href="/emi-calculator" class="tool-box">
                💰 EMI Calculator
            </a>

        </div>

    </div>
</section>

{% endblock %}
