{% extends "base.html" %}

{% block content %}

<section class="calculator-page">
    <div class="calculator-card">

        <h1>Image to Text</h1>
        <p>படத்தை upload செய்து text பெறுங்கள்</p>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Convert to Text</button>
        </form>

        {% if text %}
         <textarea rows="8">{{ text }}</textarea>
        {% endif %}


    </div>
</section>

{% endblock %}
