{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center; margin-top:40px;">✉ Tamil Letter Formats</h2>

<div class="tools-grid">

    <div class="tool-card">
        <h3>🏫 School Leave Letter</h3>
        <p>Student leave request format</p>
        <a href="/letters/school-leave">Open</a>
    </div>

    <div class="tool-card">
        <h3>🤒 Sick Leave Letter</h3>
        <p>Medical leave format</p>
        <a href="/letters/sick-leave">Open</a>
    </div>

    <div class="tool-card">
        <h3>🏢 Office Leave Letter</h3>
        <p>Professional leave request</p>
        <a href="/letters/office-leave">Open</a>
    </div>

    <div class="tool-card">
        <h3>🏦 Bank Account Closing</h3>
        <p>Close bank account letter</p>
        <a href="/letters/bank-close">Open</a>
    </div>


</div>

{% endblock %}
