{% extends "base.html" %}

{% block content %}

<section class="calculator-page">
    <div class="calculator-card">

        <h1>🛠 Free Online Tools</h1>
        <p>Useful tools for daily needs</p>

        <div class="tools-grid">

            <a href="/text-counter" class="tool-box">
                Text Counter
            </a>

            <a href="/date-difference" class="tool-box">
                Date Difference
            </a>

            <a href="/case-converter" class="tool-box">
                Case Converter
            </a>

            <a href="/unit-converter" class="tool-box">
                Unit Converter
            </a>

            <a href="/number-to-words" class="tool-box">
                Number To Words
            </a>

            <a href="/image-to-text" class="tool-box">
                Image To Text (OCR)
            </a>
            <a href="/qr-code-generator" class="tool-box">
                QR Code Generator
            </a>


        </div>

    </div>
</section>

{% endblock %}
